.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

@media (min-width: 834px) {
  .container {
    flex-direction: row;
  }
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.selectors {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 834px) {
  .details {
    max-width: 380px;
  }
}
