{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^next",
    "^next/(.*)$",
    "^@testing-library/(.*)$",
    "^@/(.*)$",
    "^@types",
    "^[./]",
    "^.*\\.module\\.css$",
    "^.*\\.css$",
    "^[^/]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
