.container {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 40px 0px;
  height: 250px;
}
.image {
    width: 60%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  height: 100% !important;
  width: 40%
}

.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  background: transparent;
  width: max-content;
  color: #e32020;
  cursor: pointer;
  font-family: Helvetica, sans-serif !important;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (min-width: 500px) {
    .image {
        width: auto
    }
    .details {
        width:auto
    }
  }
