.container {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 40px 0px;
  height: 250px;
}
.image {
  width: 160px;
  height: auto;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  background: transparent;
  width: max-content;
  color: #e32020;
  cursor: pointer;
  font-family: Helvetica, sans-serif !important;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (min-width: 863px) {
  .image {
    width: 200px;
  }
  .details {
    width: auto;
  }
  .content {
    justify-content: space-between;
  }
}
