.space {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(95px, max-content));
  gap: 0px;
}

.button {
  box-sizing: border-box;
  height: 60px;
  outline: 1px solid #cccccc;
  background: #ffffff;
  min-width: 95px;
  width: auto;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.button.selected {
  border-color: black;
  outline: 1px solid black;
  z-index: 2;
}
