.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.card {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}
.wrap {
  position: relative;
}
.button {
  display: flex;
  position: absolute;
  top: 80px;
}
